.file-actions-container {
  width: 100%;
  text-align: center;
  padding: 0 0 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.import-button,
.export-button {
  height: 48px;
  --border-radius: 50px;
  font-size: 16px;
  margin: 0;
  width: 50%;

  ion-icon {
    margin-right: 5px;
  }
}

.file-name {
  position: absolute;
  margin-top: 5px;
  font-size: 14px;
  word-break: break-all;
  z-index: 9999;
  width: 100%;
  text-align: center;
  left: 0;
}