.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

ion-item {
  width: 100%;
  margin-bottom: 16px;
  --padding-start: 0px;
}

.password-toggle {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 8px;
}

ion-button {
  margin-top: 20px;
  width: 100%;
}

ion-input {
  --padding-start: 16px;
}