.ion-color-primary {
  --ion-color-shade: #4B9460 !important;
  --ion-color-tint: var(--ion-color-primary-focused) !important;
}
.button-solid {
  --background-hover: var(--ion-color-primary-focused) !important;
  --background-activated: var(--ion-color-primary-focused) !important;
  --background-focused: var(--ion-color-primary-focused) !important;
}
ion-input, ion-textarea, ion-select {
  --border-radius: 10px !important;
}
.select-popover {
  ion-item {
    --background: rgb(236, 236, 236);
  }
}
ion-list {
  ion-item {
    --background: rgb(236, 236, 236);
  }
}