.back {
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 10px;
  font-weight: bolder;
  z-index: 1;
  color: var(--ion-color-primary);
}
.logo {
  position: absolute;
  top: 0;
  right: 8px;
  padding: 10px;
  z-index: 1;
  height: 36px;
  width: 36px;
}
ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);

  &.active {
    ion-icon, ion-label {
      color: var(--ion-color-primary);
    }
  }
}